#root {
    background: whitesmoke;
    width: 900px;
}

.prod {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border: 1px solid red;
}

.item {
    border: 1px solid blue;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}